<footer class="footer">
    <div class="row">
        <div class="column one-fourth">
            <div class="widget">
                <h6 class="widget-title">Connect</h6>
                <ul class="widget-list">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
        </div>

        <div class="column one-fourth">
            <div class="widget">
                <h6 class="widget-title">About</h6>
                <ul class="widget-list">
                    <li><a href="#">Purpose</a></li>
                    <li><a href="#">Submit a site</a></li>
                    <li><a href="#">Contributing</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer">
    <p>Made with <span class="fa fa-heart"></span> <a href="http://jjgrainger.co.uk" target="_blank">@jjgrainger</a></p>
</div>

<script src="/assets/js/typeahead.js"></script>
<script src="/assets/js/search.js"></script>
<script src="/assets/js/app.js"></script>
