<header class="header">
    <div class="row">
        <div class="column one-half">
            <a class="logo" href="/"><span class="fa fa-heart"></span> Oh That's Nice</a>
        </div>
        <div class="column one-half">
            <nav class="menu-main">
                <a class="js-toggle" href="#searchbar">Search</a>
                <a class="js-toggle" href="#browsebar">Browse</a>
                <a class="js-toggle" href="#browsebar">Submit</a>
            </nav>
        </div>
    </div>
</header>

<div id="searchbar" class="searchbar toggle">
    <div class="row cf">
        <div class="column one-whole">
            <form action="#">
                <input type="text" class="search-field js-typeahead">
            </form>
        </div>
    </div>
</div>

<div id="browsebar" class="browsebar toggle">
    <div class="categories">
        {% for category in site.categories %}
            <a href="/category/{{ category | first | slugify }}" class="cat-cell cat--{{ category | first | slugify }}">{{ category | first }}</a>
        {% endfor %}
    </div>
<!--     <div class="row">
        <div class="column one-whole">
            <span class="zeta" style="font-weight: 600;">Categories:</span>
            {% for category in site.categories %}
                <a href="/category/{{ category | first | slugify }}" class="pill pill--{{ category | first | slugify }}">{{ category | first }}</a>
            {% endfor %}
                <a class="pill" href="#">Media</a>
        </div>
    </div> -->

    <div class="row">
        <div class="column one-whole">
            <span class="zeta" style="font-weight: 600; display: block; text-align: center; margin-bottom: 5px;">Browse tags</span>
            <nav class="menu-tags">
                {% for tag in site.tags %}
                    <a href="/tag/{{ tag | first | slugify }}" class="pill">{{ tag | first }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
</div>
