<article class="post post--{{ post.categories | first | slugify }}">
    <header class="post-header">
        <p class="post-meta"><a href="/category/{{ post.categories | first | slugify }}">{{ post.categories | first }}</a></p>
        <h4 class="post-title">
            <a href="{{ post.url }}" target="_blank">
                {{ post.title | escape }}
            </a>
        </h4>
    </header>

    <div class="post-content">
        {{ post.content | strip_html | truncatewords: 10 }}
    </div>

    <footer>
        {% for tag in post.tags %}
            <a href="/tag/{{ tag | slugify }}" class="pill">{{ tag }}</a>
        {% endfor %}
    </footer>
</article>
