html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: $white;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


* {
    transition: all ease .3s;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/**
    xxl 200
    xl 1024
    l 800
    m 600
    s: 480
    xs 320
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}


@media(max-width: 800px) {
    .column.l-one-half { width: 50%; }
}

@media(max-width: 600px) {
    .column.m-one-whole { width: 100%; }
}

.page-title {
    @include scale(2);
}
