.footer {
    background: #fff;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.widget {}

.widget-title {
    margin-bottom: 0;
}

.widget-list {
    list-style: none;
}

.sub-footer {
    background: #fff;
    text-align: center;
    padding: rhythm(2);
    @include scale(-1);
}

.sub-footer p {
    margin-bottom: 0;
}
