@mixin button($colour, $text: #fff) {
    display: inline-block;
    padding: rhythm(2);
    text-align: center;
    background-color: $colour;
    color: $text;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 3px 0px darken($colour, 10%);
    transition: background ease .3s;

    &:hover {
        text-decoration: none;
        background-color: lighten($colour, 5%);
    }

    &:active {
        box-shadow: none;
        margin-top: 3px;
        margin-bottom: -3px;
    }
}




.btn {
    @include button($blue);
}
