.header {
    // @include position(fixed, 0 0 auto 0);
    position: relative;
    z-index: 99;
    padding: rhythm(3) 0;
    // margin-bottom: rhythm(4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background: $white;
    color: $black;
    font-weight: 600;
}

.header .column {
    padding-bottom: 0;
}

.header a {

    &.is-active,
    &:hover {
        color: $red;
        text-decoration: none;
    }
}

.menu-main {
    float: right;
}

.menu-main a {
    display: inline-block;
    margin-left: rhythm(2);
}

.site-main {
    background: #fafafa;
    padding-top: rhythm(8);
    padding-bottom: rhythm(4);
}
