/**
 * Hero
 */

.hero {
    background: $black;
    color: $white;
    padding: rhythm(4) 0 rhythm(0);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);

    margin-top: rhythm(-8);
    margin-bottom: rhythm(8);

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.hero--turquoise { background: $turquoise; }

.hero--learning { background: $orange; }
.hero--tools { background: $red; }
.hero--libraries { background: $blue; }
.hero--showcases { background: $purple; }
.hero--frameworks { background: $green; }
