@mixin position($position, $values) {
    position: $position;

    // top is always the first value
    $top: nth($values, 1);

    // by default the rest will follow
    $right: $top;
    $bottom: $top;
    $left: $top;

    // second value is for both left/right
    @if length($values) > 1 {
        $left: nth($values, 2);
        $right: $left;
    }

    // third is for bottom
    @if length($values) > 2 {
        $bottom: nth($values, 3);
    }

    // fourth is for left
    @if length($values) > 3 {
        $left: nth($values, 4);
    }

    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
