.post {
    background: $white;
    padding: rhythm(4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid $black;
}

@mixin post-colors($color) {
    color: $color;
    border-top-color: $color;
}

.post--showcases { @include post-colors($purple); }
.post--libraries { @include post-colors($blue); }
.post--tools { @include post-colors($red); }
.post--frameworks { @include post-colors($green); }
.post--learning { @include post-colors($orange); }

.post-content {
    height: 6rem;
    color: $black;
}

.post-meta {
    text-transform: uppercase;
    @include scale(-2);
    margin-bottom: 0;
    color: inherit;
}

.post-title {
    color: inherit;
    margin-bottom: 0;
    font-weight: 600;

    a {
        color: inherit;
        color: $black;
    }
}



.pill {
    display: inline-block;
    padding: rhythm(1) rhythm(2);
    border-radius: rhythm(2);
    border: 2px solid #666;
    @include scale(-1);
    background: transparent;
    color: #666;

    &:hover {
        background: transparent;
        color: $black;
        border-color: $black;
        cursor: pointer;
        text-decoration: none;
    }
}

.pill--white {
    background: transparent;
    border-color: $white;

    &:hover {
        border-color: $white;
    }
}

.pill--showcases:hover { border-color: $purple; color: $purple; }
.pill--libraries:hover { border-color: $blue; color: $blue; }
.pill--tools:hover { border-color: $red; color: $red; }
.pill--frameworks:hover { border-color: $green; color: $green; }
.pill--learning:hover { border-color: $orange; color: $orange; }



.categories {
    @include position(absolute, 0 0 auto 0);
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 3rem;
    // margin-top: -3rem;
}

.cat-cell {
    display: table-cell;
    padding: .75rem;
    text-align: center;
    font-weight: 600;

    &:hover {
        text-decoration: none;
    }
}

.cat--publications { background-color: $black; color: $white; }
.cat--showcases { background-color: $purple; color: $white; }
.cat--libraries { background-color: $blue; color: $white; }
.cat--tools { background-color: $red; color: $white; }
.cat--frameworks { background-color: $green; color: $white; }
.cat--learning { background-color: $orange; color: $white; }
