.searchbar {
    padding: rhythm(4);
    background-color: $black;
    color: $white;
}

.searchbar .column {
    padding-bottom: 0;
}

.search-field {
    background: transparent;
    border: 0;
    font: inherit;
    line-height: 1.5;
    -webkit-appearance: none;
    border-radius: 0;

    display: block;
    width: 100%;
    border-bottom: 2px solid $white;
    color: $white;

    &:focus {
        outline: 0;
    }
}


.result {}

.result-title {
    font-weight: 600;
}

.result-meta {
    color: #aaa;
}

.result-category {
    font-size: 11px;
    text-transform: uppercase;
}

/**
 * Categories and Tags
 */

.browsebar {
    position: relative;
    padding: rhythm(4);
    padding-top: rhythm(16);
    background-color: $black;
    color: $white;
    // box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
}

.menu-tags a {
    display: inline-block;
    margin: 2px 0;
}


.toggle {
    display: none;

    &.is-visible {
        display: block;
    }
}

/**
 * Typeahead
 */

.twitter-typeahead {
    display: block!important;
}

.tt-menu {
    display: block;
    width: 100%;
    right: 0;
    background: $white;
    color: $black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.tt-suggestion {
    padding: rhythm(2);
}

.tt-suggestion:hover,
.tt-cursor {
    background: #fafafa;
    cursor: pointer;

    * {
        transition: none;
    }

    .result-title {
        color: $red;
    }
}
