---
layout: default
---

<div class="hero hero--{{ page.title | slugify }}">
    <div class="row">
        <div class="column two-thirds push-sixth center">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</div>

<div class="row">
    {% assign posts = (page.posts | sort: 'title') %}
    {% for post in posts %}
        <div class="column one-third l-one-half m-one-whole">
            {% include post.html %}
        </div>
    {% endfor %}
</div>
