<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main id="content" class="site-main">
        {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
