---
layout: default
---

<!-- <div class="row">
    <div class="column one-whole">
        <h5>Categories:</h5>
        {% for category in site.categories %}
            <span class="pill pill--white pill--{{ category | first | slugify }}">{{ category | first }}</span>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="column one-whole">
        <h5>Tags:</h5>
        {% for tag in site.tags %}
            <span class="pill pill--white">{{ tag | first }}</span>
        {% endfor %}
    </div>
</div> -->

<!-- <div class="categories">
    {% for category in site.categories %}
        <a href="/category/{{ category | first | slugify }}" class="cat-cell cat--{{ category | first | slugify }}">{{ category | first }}</a>
    {% endfor %}
</div> -->

<div class="row">

    <div class="column one-whole center">
        <h2>Lastest Additions</h2>
    </div>

    {% for post in site.posts limit: 9 %}
        <div class="column one-third l-one-half m-one-whole">
            {% include post.html %}
        </div>
    {% endfor %}

    <div class="column one-whole center">
        <a href="#" class="btn">Browse all Resources</a>
    </div>
</div>

<br><br>

<div class="row">
    <div class="column one-whole center">
        <h2>Popular Collections</h2>

        {% for category in site.categories %}
            <a href="/category/{{ category | first | slugify }}" class="cat-cell cat--{{ category | first | slugify }}">{{ category | first }}</a>
        {% endfor %}
    </div>
</div>
