---
layout: default
---

<div class="row">
    <div class="column two-thirds l-one-whole">
        <h1>{{ page.title }}</h1>

        {{ content }}

        <a href="{{ page.link }}" class="btn">Visit Site</a>
        <a href="#" class="btn"><span class="fa fa-github"></span> View on Github</a>
    </div>
</div>
