---
layout: default
---

    <div class="row">
        <div class="column two-thirds push-sixth center">
            <h1 class="page-title">Resources for "{{ page.title }}"</h1>
        </div>
    </div>

<div class="row">
    {% assign posts = (page.posts | sort: 'title') %}
    {% for post in posts %}
        <div class="column one-third l-one-half m-one-whole">
            {% include post.html %}
        </div>
    {% endfor %}
</div>
